

/* start general setting  */

:ROOT{
    --sec-padding: 20px 0;
    --sec-height: 100vh;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
.sec{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end general setting  */

/* start header sec */

.header{
    background-image: linear-gradient(45deg,#64b4f670,#9575cd70),url(../Images/beach.jpg);
    height: var(--sec-height);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: var(--sec-height);
    padding: var(--sec-padding);
    color: #eee;
}

.plan{
    width: 48%;
    border: 2px solid #eee;
    padding: 20px;
    margin: 0 1%;
}
.order{
    width: 98%;
    border: 2px solid #eee;
    padding: 20px;
    margin: 10px 1%;
}

/* header media  */

@media(max-width: 991px){
    .plan,
    .order{
        float: none;
        width: 95%;
        margin: 10px auto;
    }
}

/* end header sec */

/* start features */

.features{
    padding: var(--sec-padding);
    min-height: var(--sec-height);
}
.feat{
    margin: 0 10px;
}

/* fetures media  */
@media(max-width: 991px){
    .features>.container>.main{
        display: grid;
        width: 95%;
        margin: 10px auto;
        flex-flow: column nowrap;
        text-align: center;
        margin: auto;
    }
}
/* end features */
/* start about-us  */
.about-us{
    padding: var(--sec-padding);
    min-height: var(--sec-height);
    background-color: #eee;
}
/* end about-us  */
/* start image gallery  */
.img-gallery{
    padding: var(--sec-padding);
    min-height: var(--sec-height);
}
/* end image gallery  */
/* start pricing */

.pricing{
    padding: var(--sec-padding);
    min-height: var(--sec-height);
    background-color: #616161;
}
.pricing>.container>.h1{
    color: white;
}
.pricing>.container>.main>.card{
    border: 2px solid white;
    color: white;
    padding: 5px;
}
.pricing>.container>.main>.card>h2{
    font-size: 30px;
}
.pricing>.container>.main>.card>span{
    color: #bdbdbd;
}
.pricing>.container>.main>.card>ul>li{
    margin: 5px;
}
/* pricing media  */
@media(max-width: 767px){
    .pricing>.container>.main>.card{
        width:80%;
        margin: 10px 10%;
        float: none;
    }
}
@media(min-width: 768px){
    .pricing>.container>.main>.card{
        width:80%;
        margin: 10px 10%;
        float: none;
    }
}
@media(min-width: 992px){
    .pricing>.container>.main>.card{
        width: 30%;
        margin: 0 1.66666666%;
        float: left;    
    }
    .pricing>.container>.main>.card.plus{
        position: relative;
        left: 33.33333333%;
        transform: scale(1.05);
    }
    .pricing>.container>.main>.card.premuim{
        position: relative;
        left: -33.33333333%;
    }
}
/* end pricing */
/* Start Reviews */
.reviews{
    padding: var(--sec-padding);
    min-height: var(--sec-height);
}
.reviews .main>.card{
    background-color: #eee;
    width: 30%;
    margin: 1.6666%;
    padding: 20px;
}
.reviews .main>.card>.image{
    width: 150px;
    height: 150px;
}
/* reviews media  */
@media(max-width: 767px){
    .reviews .main>.card{
        float: none;
        width: 100%;
        margin: 10px auto;
    }
    .reviews .main>.card>.image
    {
        margin: auto;
    }
    .reviews .main>.card>h3
    {
        width: 120px;
        text-align: center;
        margin: 10px auto;
    }
    .reviews .main>.card>.image{
        margin: auto;
        float: none;
    }
    .reviews .main>.card>h3{
        float: none;
        margin: auto;
        width: fit-content;
    }
    .reviews .main>.card>p{
        float: none;
    }
}
@media(min-width: 768px){

    .reviews .main>.card:first-child{
        width: 80%;
        margin: 0 10%;
    }
    .reviews .main>.card:nth-child(2){
        width: 39%;
        margin-left: 10%;
        margin-right: 1%;
    }
    .reviews .main>.card:nth-child(3){
        width: 39%;
        margin-left: 1%;
        margin-right: 10%;
    }
    .reviews .main>.card:first-child>.image{
        margin-right: 10px;
    }
    .reviews .main>.card:first-child>p{
        width: calc(100% - 160px);
        text-align: left;
    }
    .reviews .main>.card:not(:first-child)>.image{
        margin: auto;
        float: none;
    }
    .reviews .main>.card:not(:first-child)>h3{
        float: none;
        margin: auto;
        width: fit-content;
    }
    .reviews .main>.card:not(:first-child)>p{
        float: none;
    }

}
/* end Reviews */
/* start information */
.information{
    padding: var(--sec-padding);
    min-height: var(--sec-height);
    background-color: #bdbdbd;
    margin: 0;
}
.information>.container ul>li{
    background-color: #616161;
    padding: 10px;
    margin: 0 10px 0 0;
    cursor: pointer;
}
.information>.container ul>li:first-child{
    border-radius: 15px 0 0 0;
}
.information>.container ul>li:last-child{
    border-radius: 0 15px 0 0;
}
.information>.container .info{
    background-color: white;
    padding: 10px;
    margin: 0;;
    border-radius: 0 15px 15px 15px;
}
.information>.container .info:not(.active){
    display: none;
}
.information>.container ul>li.active{
    background-color: white ;
    color: #00796b;
}

/* end information */
/* start footer  */
.footer{
    height: 50px;
    background-color: #212121;
    color: #eee;
    display: flex;
    align-items: center;
    padding: 15px;
}
/* footer media  */
@media(max-width: 767px)
{
    .footer{
        height: 70px;
        padding: 3px;
    }
    .container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }    
}
/* end footer  */